{%- assign navigation = section.settings.primary_navigation -%}
{%- assign navigation_phone_number = section.settings.navigation_phone_number -%}
{%- assign paintaccess_phone_href = '+61258385959' -%}
{%- assign paintaccess_phone_display = '02 5838 5959' -%}
{%- assign navigation_email = section.settings.navigation_email -%}
{%- assign contacts_title = section.settings.contacts_title -%}
{%- assign socials_title = section.settings.socials_title -%}
{%- assign social_items = section.blocks | where: 'type', 'social_item' -%}

<nav class="nav">
  <div class="container">
    <div class="nav__inner">
      {%- if navigation -%}
        <ul class="nav__list">
          {% for navItem in linklists[navigation].links %}
            <li class="nav__item">
              {% if navItem.links.size > 0 %}
                <a href="{{ navItem.url }}" class="nav__link nav__link--arrow">
                  <span class="nav__item-label">{{ navItem.title }}</span>
                </a>
                <div class="nav__dropdown nav__dropdown--{{ navItem.title | handleize }}">
                  <div class="container">
                    <button class="nav__back-btn">Back</button>
                    <div class="nav__dropdown-inner">
                      {%- for navCol in navItem.links -%}
                        <dl class="nav__dropdown-list {% if navCol.title.size == 1 %} nav__dropdown-list--empty-title{% endif %}">
                          {%- if navCol.title.size > 1 -%}
                            <dt class="nav__dropdown-title">
                              <a class="nav__dropdown-link" href="{{ navCol.url }}">{{ navCol.title }}</a>
                            </dt>
                          {%- endif -%}

                          {%- if navCol.links -%}
                            {%- for dropdownItem in navCol.links %}
                              <dd class="nav__dropdown-item">
                                <a class="nav__dropdown-link" href="{{ dropdownItem.url }}">{{ dropdownItem.title }}</a>
                              </dd>
                            {%- endfor %}
                          {%- endif -%}
                        </dl>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              {% else %}
                <a href="{{ navItem.url }}" class="nav__link">{{ navItem.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>

        <div class="nav__cart-wrap">
          <button class="nav__cart-btn" data-cart-toggler>Cart</button>

          <div class="cart-tooltip">
            <div class="cart-tooltip__header">Product added to your cart</div>
            <div class="cart-tooltip__product">
              <div class="cart-tooltip__product-img"></div>
              <div class="cart-tooltip__product-name">lorem ipsum dolor sit amet</div>
            </div>

            <div class="cart-tooltip__actions">
              <button class="cart-tooltip__link cart-tooltip__link--cart" data-cart-toggler>View Cart</button>
              <button type="button" class="cart-tooltip__link cart-tooltip__link--continue cart-tooltip__close">
                Close
              </button>
            </div>
          </div>
        </div>
      {%- endif -%}
      {%- if navigation_phone_number != blank or navigation_email != blank -%}
        <div class="nav__mobile-menu hide-on-desktop">
          {% if contacts_title != blank %}
            <h5 class="nav__mobile-menu-title">Contact Us</h5>
          {% endif %}

          {%- if navigation_phone_number != blank -%}
            <a href="tel:{{ paintaccess_phone_href }}" class="nav__mobile-menu-contact">
              <span class="nav__mobile-menu-icon nav__mobile-menu-icon_phone"></span>
              <span>Call us {{ paintaccess_phone_display }}</span>
            </a>
          {%- endif -%}

          {%- if navigation_email != blank -%}
            <a href="mailto:{{ navigation_email }}" class="nav__mobile-menu-contact">
              <span class="nav__mobile-menu-icon nav__mobile-menu-icon_email"></span>
              <sapn>{{ navigation_email | escape }}</sapn>
            </a>
          {%- endif -%}
        </div>
      {%- endif -%}
      {% if social_items != blank %}
        <div class="nav__mobile-menu hide-on-desktop">
          {% if socials_title != blank %}
            <h5 class="nav__mobile-menu-title">{{ socials_title }}</h5>
          {% endif %}
          {% for social in social_items %}
            <a
              href="{{ social.settings.url }}"
              target="_blank"
              class="nav__mobile-social-item footer__icons-item--{{ social.settings.handle | handleize }}"
            >
              <span class="footer__icons-item">{{ social.settings.icon }}</span>
              <span>{{ social.settings.handle }}</span>
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</nav>

{% schema %}
{
  "name": "Navigation",
  "settings": [
    {
      "type": "link_list",
      "id": "primary_navigation",
      "label": "Primary Navigation"
    },
    {
      "type": "header",
      "content": "Mobile navigation"
    },
    {
      "type": "text",
      "id": "contacts_title",
      "label": "Contacts title",
      "default": "Need help?"
    },
    {
      "type": "text",
      "id": "navigation_phone_number",
      "label": "Phone number text",
      "default": "028-064-70-50",
      "info": "Enter your phone number only"
    },
    {
      "type": "text",
      "id": "navigation_email",
      "label": "Email",
      "default": "trade@PaintAccess.com.au"
    },
    {
      "type": "text",
      "id": "socials_title",
      "label": "Socials title",
      "default": "Follow Us"
    }
  ],
  "blocks": [
    {
      "name": "Social Item",
      "type": "social_item",

      "settings": [
        {
          "type": "text",
          "id": "icon",
          "label": "SVG icon"
        },
        {
          "type": "text",
          "id": "handle",
          "label": "Social Name"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        }
      ]
    }
  ]
}
{% endschema %}
